<div class="row">
    <div class="col-md-6">
        <h2>Detail Contact</h2>

        <div class="card" style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Prima</h5>
                <h6 class="card-subtitle mb-2 text-muted">03513246</h6>
                <p class="card-text">email</p>
                <a href="#" class="card-link">&laquo; Back to All Contact</a>
            </div>
        </div>
    </div>
</div>
